{% extends 'base_statistic.html' %}
{% load static %}

{% block title %}
    <title>Statistiques</title>
{% endblock %}

{% block content %}
    <div id="albumByFamily" class="chart">
        <canvas id="canvasByFamily" width="400px" height="400px"></canvas>
        <script>
        const ctx4 = document.getElementById('canvasByFamily').getContext('2d');
        const chartFamily = new Chart(ctx4, {
            type: 'radar',
            data: {
                labels:  {{ families|safe }},
                datasets: [{
                    label: 'Albums par famille',
                    data: {{ albums_families }},
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    pointBackgroundColor: 'rgb(255, 99, 132)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                  r: {
                     angleLines: {
                         display: false
                     },
                     suggestedMin: 0,
                     suggestedMax: 5,
                     stepSize: 1
                   },
                 },
            }
        });
        </script>
    </div>

    <div class="filters">
        <form method="GET" enctype="multipart/form-data" action="{%url 'statistic:band-by-country'%}" class="form form-create">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Chercher" class="btn btn-submit">
        </form>

        <h1>Liste des albums</h1>
        <div class="tableContainer">
            <table id="displayDetails">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0)">Titre</th>
                            <th onclick="sortTable(1)">Groupe</th>
                            <th onclick="sortTable(2)">Sortie</th>
                            <th onclick="sortTable(3)">Écouté</th>
                            <th onclick="sortTable(4)">Genres principaux</th>
                            <th onclick="sortTable(5)">Note</th>
                            <th onclick="sortTable(6)">Voix</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for album in albums %}
                            <tr>
                                <td>{{ album.title }}</td>
                                <td>{{ album.groupe.name }}</td>
                                <td>{{ album.date_released|date:'Y' }}</td>
                                <td>{{ album.date_listened|date:'Y' }}</td>
                                <td>{{ album.genre_primary.all|join:", " }}</td>
                                <td>{{ album.rating }}</td>
                                <td>{{ album.get_type_vocal_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>

{% endblock %}