{% extends 'base_statistic.html' %}
{% load static %}

{% block title %}
    <title>Statistiques</title>
{% endblock %}

{% block content %}
    <div id="albumByYear" class="chart">
        <canvas id="canvasByYear" width="400px" height="400px"></canvas>
        <script>
        const ctx = document.getElementById('canvasByYear').getContext('2d');
        const chartYear = new Chart(ctx, {
            type: 'bar',
            data: {
                labels:  {{ years|safe }},
                datasets: [{
                    label: 'Albums par années',
                    data: {{albums_year}},
                    backgroundColor: [
                        '#FFA3DA',
                        '#C095E8',
                        '#AFBDFF',
                        '#95DBE8',
                        '#BDFFDB',
                        '#A8DDE3',
                        '#949DE3',
                    ],
                    borderColor: [
                        '#FF30C6',
                        '#812CE8',
                        '#3C6AFF',
                        '#2CD6E8',
                        '#4AFF8F',
                        '#4FD5E3',
                        '#4253E3',
                    ],
                    borderWidth: 1,
                    barPercentage: .3,
                    categoryPercentage: .8
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
    </div>

    <div class="filters">
        <form method="GET" enctype="multipart/form-data" action="{%url 'statistic:album-by-years'%}" class="form form-create">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Chercher" class="btn btn-submit">
        </form>

        <h1>Liste des albums</h1>
        <div class="tableContainer">
            <table id="displayDetails">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0)">Titre</th>
                            <th onclick="sortTable(1)">Groupe</th>
                            <th onclick="sortTable(2)">Sortie</th>
                            <th onclick="sortTable(3)">Écouté</th>
                            <th onclick="sortTable(4)">Genres principaux</th>
                            <th onclick="sortTable(5)">Note</th>
                            <th onclick="sortTable(6)">Voix</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for album in albums %}
                            <tr>
                                <td>{{ album.title }}</td>
                                <td>{{ album.groupe.name }}</td>
                                <td>{{ album.date_released|date:'Y' }}</td>
                                <td>{{ album.date_listened|date:'Y' }}</td>
                                <td>{{ album.genre_primary.all|join:", " }}</td>
                                <td>{{ album.rating }}</td>
                                <td>{{ album.get_type_vocal_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>

{% endblock %}