{% extends 'base_statistic.html' %}
{% load static %}

{% block title %}
    <title>Statistiques</title>
{% endblock %}

{% block content %}
    <div id="albumByGenre" class="chart">
        {% if genres_family %}
        <canvas id="canvasByGenre" width="400px" height="400px"></canvas>
        <script>
            const ctx = document.getElementById('canvasByGenre').getContext('2d');
            const chartGenre = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels:  {{ genres_family|safe }},
                    datasets: [{
                        label: 'Albums par genre de {{family}}',
                        data: {{ albums_genre }},
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgb(255, 99, 132)',
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(255, 99, 132)'
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                      r: {
                         angleLines: {
                             display: false
                         },
                         suggestedMin: 0,
                         suggestedMax: 5,
                         stepSize: 1
                       },
                    },
                }
            });
        </script>
        {% else %}
        <p>Pas de données pour {{ family }}</p>
        {% endif %}
    </div>

    <div class="filters">
        <form method="GET" enctype="multipart/form-data" action="{%url 'statistic:band-by-country'%}" class="form form-create">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Chercher" class="btn btn-submit">
        </form>

        <h1>Liste des albums</h1>
        <div class="tableContainer">
            <table id="displayDetails">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0)">Titre</th>
                            <th onclick="sortTable(1)">Groupe</th>
                            <th onclick="sortTable(2)">Sortie</th>
                            <th onclick="sortTable(3)">Écouté</th>
                            <th onclick="sortTable(4)">Note</th>
                            <th onclick="sortTable(5)">Voix</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for album in albums %}
                            <tr>
                                <td>{{ album.title }}</td>
                                <td>{{ album.groupe.name }}</td>
                                <td>{{ album.date_released|date:'Y' }}</td>
                                <td>{{ album.date_listened|date:'Y' }}</td>
                                <td>{{ album.rating }}</td>
                                <td>{{ album.get_type_vocal_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}