{% extends 'base_statistic.html' %}
{% load static %}

{% block title %}
    <title>Statistiques</title>
{% endblock %}

{% block content %}
    <div id="albumByOwnership" class="chart">
        <canvas id="canvasByOwnership" width="400px" height="400px"></canvas>
        <script>
        const ctx = document.getElementById('canvasByOwnership').getContext('2d');
        const chartOwnership = new Chart(ctx, {
            type: 'bar',
            data: {
                labels:  ['Achetés', 'Téléchargés'],
                datasets: [{
                    label: 'Albums par type de possession',
                    data: [{{bought_count}}, {{downloaded_count}}],
                    backgroundColor: [
                        '#FFA3DA',
                        '#C095E8',
                    ],
                    borderColor: [
                        '#FF30C6',
                        '#812CE8',
                    ],
                    borderWidth: 1,
                    barPercentage: .3,
                    categoryPercentage: .8
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
    </div>
{% endblock %}